.modal__background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #d1d5db;
  opacity: 0.8;
}

.div__modal {
  position: fixed;
  top: 10rem;
  right: 10rem;
  bottom: 10rem;
  left: 10rem;
  padding: 2.5rem;
  background-color: #ffffff;
}

.modal__interior {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.modal__button {
  display: flex;
  justify-content: flex-end;
}

.overflowHidden {
  overflow: hidden;
}
