.buttonBase {
  display: flex;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  align-items: center;
  border-width: 1px;
}

.primary {
  border-color: #3b82f6;
  color: #ffffff;
  background-color: #3b82f6;
}

.secondary {
    border-color: #111827; 
color: #ffffff; 
background-color: #111827; 

}

.success {
    border-color: #10B981; 
    color: #ffffff; 
    background-color: #10B981; 
}

.warning {
    border-color: #FBBF24; 
    color: #ffffff; 
    background-color: #F59E0B; 
    
}

.danger {
    border-color: #EF4444; 
    color: #ffffff; 
    background-color: #EF4444; 
    
}

.rounded {
    border-radius: 9999px; 

}

.outline {
    background-color: #ffffff; 

}

.outlineAndprimary{
    color: #3B82F6;
}

.outlineAndsecondary{
    color: #111827; 
}

.outlineAndsuccess{
    color: #10B981; 
}

.outlineAndwarning{
    color: #FBBF24; 
}

.outlineAnddanger{
    color: #EF4444; 
}